[user]
        email = jeppe.lillevang@gmail.com
        name = Jeppe Lillevang Salling
        # signingKey = <your-gpg-key-id> # Optional if you want to sign commits
[init]
        defaultBranch = main

[core]
        editor = hx
        excludesfile = ~/.gitignore
        pager = less -FRX
        whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[merge]
        tool = sublime_merge

[mergetool "sublime_merge"]
        cmd = smerge mergetool --no-wait "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"

[color]
        ui = auto
        status = auto
        branch = auto
        diff = auto
        interactive = auto

[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true

[fetch]
        prune = true
        pruneTags = true
        all = true

[push]
        default = simple
        autoSetupRemote = true
        followTags = true

[branch]
        sort = -committerdate

[tag]
        sort = version:refname

[commit]
        verbose = true

[rerere]
        enabled = true
        autoupdate = true

[help]
        autocorrect = prompt

[log]
        date = iso

[format]
        pretty = format:%C(auto)%h %Cgreen%ad%Creset %C(bold blue)%an%Creset %s

[alias]
        st = status
        co = checkout
        ci = commit
        br = branch
        amend = commit --amend --no-edit
        unstage = reset HEAD --
        lg = log --graph --abbrev-commit --decorate --date=short --all
[safe]
	directory = *
	directory = *
[pull]
	rebase = true
